 body {
  background-image: url("cabecera.png");
  background-size: cover;
   height: 100vh;

}

h1{
    font-size:18px;
    text-align:center;
}
p{
    font-size:12px;
    text-align:center;
}
