body {
  background-image: url("imagenes/cabecera.png");
  background-size: cover;
   height: 100vh;
overflow:hidden;
}
main{
  position:absolute;
  top:100px;
  left:100px;
width:200px;
  height:100px;
  overflow-x:hidden;
  overflow-y:scroll;
 margin:auto;
}
h1{
  background-color:gray;
     font-size:18px;
     text-align:center;
  color:white;
 margin:auto;
 padding: 0 10px;
}
p{
    font-size:12px;
    text-align:center;
  color:white;
  background-color:gray;
  margin:auto;
 padding: 0 10px;
}
footer{
  height:30px;
  position:absolute;
  bottom:40px;
  text-align:right;
}
